*.class
*~
*.DS_Store

# Package Files #
*.ear
*.pyc
*.o

.idea
/target
/.settings
.classpath
.project
/bin
/build
src/play/ipython/.ipynb_checkpoints/

src/main/python/anahata.egg-info/
src/main/python/build/
src/main/python/dist/


src/main/resources/kaggle/*
src/main/resources/kaggle/airbnb/*
src/main/resources/finefoods.txt
src/main/resources/movies.txt
src/main/resources/movies.txt.gz

*.tar.gz
*.pickle
*.zip
*.gz

# Saved ml models
*.model
*.do
*.npy
*.h5



#Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz
*.caffemodel
*.net
           
# Object files
*.o
*.os
*.ko
*.obj
*.elf

anahata.iml
*.iml
